@layout('layouts/frontend')
@set('title', 'Home page')

@section('content')
    <div class="main__content home-page">
        <section class="hero is-warning">
            <div class="hero-body">
                <p class="title">Home page</p>
            </div>
        </section>
    </div>
@end
