@layout('layouts/backend')
@set('title', 'User edit page')

@section('content')
    <div class="main__content users-edit-page">
        <section class="hero is-warning">
            <div class="hero-body">
                <p class="title">User Edit</p>
                <p class="subtitle">User Page</p>
            </div>
        </section>
    </div>
@end
