@layout('layouts/backend')
@set('title', 'Users page')

@section('suffscripts')
    <script src="/js/backend/user.js"></script>
@end

@section('content')
    <div class="main__content users-index-page">
        <section class="hero is-warning">
            <div class="hero-body">
                <p class="title">User Index</p>
                <p class="subtitle">User Page</p>
            </div>
        </section>
    </div>
@end
