<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="">

    <title>{{ title }}</title>

    <!-- Styles -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    @!section('prestyles')
    @include('backend/_partials/stylesheets')
    @!section('suffstyles')
</head>
<body>
    <div id="app">
        <!-- App Sidebar -->
        @include('backend/_partials/sidebar')

        <div class="app__main">
            <div class="app__main__container">
                <!-- App Header -->
                @include('backend/_partials/header')

                <main class="main__content">
                    @!section('content')
                </main>
            </div>

            <!-- App Footer -->
            @include('backend/_partials/footer')
        </div>
    </div>

    <!-- Scripts -->
    @!section('prescripts')
    @include('backend/_partials/scripts')
    @!section('suffscripts')
</body>
</html>

